<footer>
    <section class="footer-todo">
        <div class="tarjeta-texto">
            <div class="logo-tarjeta">
                <i class="fas fa-credit-card"></i>
            </div>
            <div class="texto-inferior">
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
        </div>
        <div class="regalo-texto">
            <div class="logo-regalo">
                <i class="fas fa-gift"></i>
            </div>
            <div class="texto-inferior">
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
        </div>
        <div class="escudo-texto">
            <div class="logo-escudo">
                <i class="fas fa-user-shield"></i>
            </div>
            <div class="texto-inferior">
                <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
        </div>
        
    </section>
        <div class="texto-copyright">
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </div>
       
</footer>