<html>
    <head>
        <title> Mi sitio! </title>
        <link rel="stylesheet" href="/css/estiloMovies.css"> 
    </head>

    <body>
        <header>
            <p> Mi Sitio !</p>
            <nav>
                <ul>
                    <li>
                        <a href="/movies/add">Crear Pelicula</a>
                        
                    </li>
                    <li>
                        <a href="/movies">Ver Pelis</a>
                        
                    </li>
                </ul>
            </nav>
        </header>
    
