<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <script src="https://kit.fontawesome.com/696433c53d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="logoml-barra">
                <div class="logoml">
                    <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
                </div>
                <div class="barra-busqueda">
                    <input type="text" placeholder="Buscar productos, marcas..." required><button class="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>       
            <nav class="main-header-bottom-bar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    </header>
    <article>
        <img src = "img/img-home-banner.jpg" class="banner">
    </article>
    <main>
        <div class="ultima-visita">
            <h3 class="titulo">Basado en tu última visita</h3>
        </div>    
        <div class="listado-1">
                <article class="products">
                    <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                        <div>
                            <h3 class="descripcion">Cafetera Moulinex</h3>
                        </div>
                </article>
                <article class="products">
                    <img src="img/img-macbook-pro-2019.jpg" alt="MacBook" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                        <div><h3 class="descripcion">MacBook Pro 2019</h3></div>
                </article>
                <article class="products">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                        <div><h3 class="descripcion">Samsung Galaxy S10</h3></div>
                    
                </article>
                <article class="products">
                    <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                        <div><h3 class="descripcion">SmartTv Samsung 43"</h3></div>
                </article>
        </div>
        
        <section class="ofertas">
            <h3 class="titulo">Ofertas</h3>
        </section>    
        <div class="listado-2">
                <article class="products">
                    <img src="img/img-cafetera-moulinex.jpg" alt="Cafetera" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$6.770</p>
                        <p class="descuento">40% off</p>
                    </div>
                        <div><h3 class="descripcion">Cafetera Moulinex</h3></div>
                </article>
                <article class="products">
                    <img src="img/img-macbook-pro-2019.jpg" alt="MacBook" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                    </div>
                        <div><h3 class="descripcion">MacBook Pro 2019</h3></div>
                </article> 
                <article class="products">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                    </div>
                        <div><h3 class="descripcion">Samsung Galaxy S10</h3></div>
                </article>
                <article class="products">
                    <img src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product-img" width="360px">
                    <div class="main-article">
                        <div class="camion"><i class="fas fa-truck"></i></div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% off</p>
                    </div>
                        <div><h3 class="descripcion">SmartTv Samsung 43"</h3></div>
                    
                </article>
        </div>
        
    </main>
    <footer>
        <section class="footer-todo">
            <div class="tarjeta-texto">
                <div class="logo-tarjeta">
                    <i class="fas fa-credit-card"></i>
                </div>
                <div class="texto-inferior">
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>
            <div class="regalo-texto">
                <div class="logo-regalo">
                    <i class="fas fa-gift"></i>
                </div>
                <div class="texto-inferior">
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="escudo-texto">
                <div class="logo-escudo">
                    <i class="fas fa-user-shield"></i>
                </div>
                <div class="texto-inferior">
                    <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </div>
            
        </section>
            <div class="texto-copyright">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
           
    </footer>
</body>
</html>