<!DOCTYPE html>

<%- include ('./partials/head') %> 

<body>
    
    <%- include ('./partials/header') %> 

<!-- ACA ARRANCA EL FORMULARIO -->
<form action="/users/login" method="POST" class="formulario-login">
    <div>
        <label for="nombreUsuario"></label>
        <input type="text" name="userName" id="userName" placeholder="Nombre de usuario">
        <% if (locals.errors && errors.userName) { %>
            <p><%= errors.userName.msg %> </p>
        <% } %>
    </div>
    <div>
        <label for="password"></label>
        <input type="password" name="password" placeholder="Contraseña">
        <span class="feedback"></span>
    </div>
    <div class="boton-enviar">
        <button type="submit" class="button-form-enviar">Enviar</button>
    </div>
</form>
<!-- ACA TERMINA EL FORMULARIO -->

<%- include ('./partials/footer') %>